@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-gradient-radial-purple {
        background: rgb(0,196,239);
        background: radial-gradient(circle, rgba(0,196,239,1) 86%, rgba(0,212,255,0.6138830532212884) 93%);
    }
  }

::-webkit-scrollbar {
    width: 7px !important; 
    border-radius: 30px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {   
    background: transparent; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3B2B83; 
    border-radius: 20px !important ; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
   
  